main {
    width: 700px;
    height: 500px;
    margin: 60px;
}
img.new1 {
    position: relative;
    top: -150px;
    right: -250px;
}
img.new2 {
    position: relative;
    top: 50px;
    right: 230px;
    z-index: -1;
}