/* TODO: style the html */
.frame{
    position: relative;
    top: -530px;
    left: 170px;
    z-index: 2;
}
div {
    display: block;
    position: relative;
    top: -579px;
    left: 180px;
    z-index: 3;
}
h3 {
    margin: 0;
    padding: 0;
}