/* основни пропертиес за контейнер */
.box {
    display: flex; /* създава флекс контейнер */
}
.box { /* дефинира в каква посока ще подреждаме елементите */
    flex-direction: row; /* подрежда кутийките в редица отляво надясно */
    flex-direction: row-reverse; /* подрежда кутийките в редица отдясно наляво */
    flex-direction: column; /* подрежда кутийките в колона отляво надясно */
    flex-direction: column-reverse; /* подрежда кутийките в колона отдясно наляво */
}
.box { /*казва могат ли елементите да минават на нов ред или не */
    flex-wrap: wrap; /* кутийките вместо в редица ги слага в кутийка, сбива ги в контейнера, когато мястото не стига, кутийките минават на нов ред */
    flex-wrap: wrap-reverse;
}
.box { /* подредба по хоризонтала */
    justify-content: center; /* централно подравнен */
    justify-content: flex-start; /* ляво подравнен */
    justify-content: flex-end; /* дясно подравнен */
    justify-content: space-around; /* подрежда елементите така в браузера, че всяко едно празно пространство около тях, ляво, дясно, помежду да е абсолютно равно */
    justify-content: space-between; /* подрежда елементите така в браузера, че празно пространство между тях да е абсолютно равно, отляво и отдясно няма пространство */
}
.box { /* подредба по вертикала */
    align-items: flex-start; /* поставя елементите наравно без разстояение отляео и отдясно в най-горния край на браузера */
    align-items: center; /* поставя елементите наравно без разстояение отляео и отдясно по средата на браузера */
    align-items: flex-end; /* поставя елементите наравно без разстояение отляео и отдясно в най-долния край на браузера */
    align-items: stretch; /* разпъва елементите от горе до долу с равни отстояния помежду им, без разстояния отляво и отдясно, с еднаква височина */
}
.box { /* разстояние между елементите между редове хоризонтално и колони вертикалано */
    gap: 2em; /* поставя пространство отгоре, отдолу, отляво, отдясно */
}

/* пропъртиес за флекс елементите/ айтъми */
.box { /* определя кой елемент да се показва първо */
    order: 1;
}
.box { /* позволява на айтъма да бъде разпънат, да расте */
    flex-grow: 1; /* флекс фактор на растеб, колко от останалото пространство на флекс контейнера може да бъде заето от основния размер на флекс елемента */
}
.box { /* позволява на айтъма да се смалява */
    flex-shrink: 1;
}
.box { /* основен / базов размер на флекс елемента */
    flex-basis: 20em;
}