.container-main-banner {

}
.logo {
    position: relative;
    top: 1em;
    left: 1.5em;
    width: 20px; 
    height: auto;
}
.logo img {
    width: 50px; 
    height: auto;
}
.navigation {
    position: relative;
}
.main-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main-text {
    position: relative;
}
