.navigation {
    position: relative;
    justify-content: flex-end;
}
.navigation a {
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation a:hover {
    text-decoration: underline;
}